<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.tag.mapper.TagDataSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smart.tag.entity.TagDataSet">
        <id column="id" property="id" />
        <result column="product_name" property="productName" />
        <result column="unit_price" property="unitPrice" />
        <result column="is_shelves" property="isShelves" />
        <result column="origin_place" property="originPlace" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="analyze" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tc_tag_data_set WHERE 1=1 ${whereCondition}
    </select>

</mapper>
